h1 {
  margin-left: 40%;
  margin-right: 40%;
  background-color: antiquewhite;
  text-align: center;
}

body {
  background-color: #131313;
}

.container {
  background-color: #85f4ff;
  max-width: 350px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 35px;
  border-radius: 10px;
  user-select: none;
  margin-left: 35%;
}

#display-area {
  width: 100%;
  margin: 3vh 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, minmax(40px, auto));
  word-wrap: break-word;
  padding-bottom: 20px;
  border-bottom: 1px rgba(128, 128, 128, 0.116) solid;
  background-color: #131313;
}

#display-area .currentInput {
  /* display: flex;  */
  text-align: right;
  height: 8vh;
  color: white;
  font-size: xx-large;
  line-height: 2;
  word-wrap: break-word;
}

#display-area .answerScreen {
  text-align: right;
  color: rgba(150, 150, 150, 0.87);
  height: 7px;
  line-height: 3;
  font-size: larger;
}

/* change button row  and colum shape  */
.keypad-btns {
  display: grid;
  grid: repeat(5, 70px) / repeat(4, 70px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.keypad-btns button {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #131313;
  color: white;
  font-size: x-large;
}

.Erase {
  display: grid;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #131313;
  color: white;
  font-size: x-large;
}

.keypad-btns .f_btn {
  color: #ff8800;
}

.n_btn:hover,
.f_btn:hover {
  background-color: rgba(29, 29, 29, 0.979);
}

